.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

* {
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Arial";
  font-size: 15px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left,
.middle,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.middle,
.right {
  text-transform: uppercase;
}

input {
  font-size: 20px;
  height: 28px;
}

.switch {
  padding: 5px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}

.result {
  text-transform: uppercase;
}

/* button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
} */

p,
h3,
button,
.switch {
  color: forestgreen;
}

p {
  font-size: 30px;
}
